.page-center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}



.form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  z-index: 1;
}
.form-row{
  display: flex;
  gap: 10px; 
  width: 100%;
}

.input{
  background-color: #1f2b44;
  color: hsl(0, 0%, 89%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: inherit;
  width: 100%;
  font-weight: 400;
  padding: 6px 6px;
  border: 0;
  border-radius: 2px;
  border-style: solid;
  min-width: 50px;
}

.button {
  background-color: #cc9900d8;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: inherit;
  width: 30%;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


.button:hover {
  background-color: #e6b800;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

@keyframes slideUpFade {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-600px);
  }
}

form.hidden {
  animation: slideUpFade 1s ease forwards;
}

@keyframes haalandFadeUp {
  0% {
    opacity: 0.5;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-1000px);
  }
}

.stats{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  top: 5px;
  left: 20px;
  gap: 1rem;
  width: 90%;
}

.haaland-animate {
  animation: haalandFadeUp 1s ease forwards;
}

.full-head{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 20px;
  top: 5px;
  left: 20px;
}
.full-head h1{
  color: white;
  font-size: 2rem;
  margin: 0;
  left: 0px;
  font-weight: normal;
}
.stats-head{
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.stats-head h2{
  color: white;
  font-size: 4rem;
  margin: 0;
}

.circle-button {
  top: 100px;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #1f2b44; 
  color: white;
  border-radius: 50%;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.circle-button:hover {
  background-color: #0056b3;
}

.stats-field{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.stats-field h2{
  bottom: 200px;
  color: white;
  font-weight: 200;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

@keyframes stateFadeDown {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.stats-enter .stats-head{
  animation: stateFadeDown 0.8s ease-out forwards;
  animation-delay: 0.4s;
}

.stats h1{
  animation: stateFadeDown 0.8s ease-out forwards;
  animation-delay: 0.6s;
}
.stats-enter .stats-field {
  animation: stateFadeDown 0.8s ease-out forwards;
  animation-delay: 0.12s;
}

